
        /*hr{
                  margin-top: 0; 
        }*/
        .submitbtn{
            float:right;
        }
        .panel-box{
                height: 335px;
        }
        .btns{
                margin-top: 45px;
         }
